


<!-- Content for the Index/Home page. -->
<script type="text/ng-template" id="index.html">
	<page id="ts-home" style="background-color: #9e9d8b; background-image: url('/assets/andrew.png'); background-position: -110px 0;">
		<content>
			<banner>
				<h1>Welcome to the Neighborhood.</h1>
				<p>Discover, share and connect with culture, creativity, sound, images and people. Learn more.</p>
				<a class="ts-button ts-button-cta" href="#">Join Myspace</a><a class="ts-button" href="#">Sign In</a>
			</banner>
			<header>
				<h5>Features</h5>
				<h3>Webslinging with Andrew Garfield</h3>
				<h6><strong>By: Caitlyn MacDonald</strong> • Celebrities</h6>
				<p style="margin-bottom: 20px;">Bacon ipsum dolor sit amet prosciutto pork shankle flank, beef ribs sirloin strip steak tri-tip brisket t-bone tenderloin. Tenderloin beef pork chop leberkas drumstick t-bone. Ribeye ball tip bacon kielbasa salami pork. Kielbasa ham hock pork belly shank jowl meatball bresaola strip steak brisket.</p>
				<a href="/" class="ts-button">Read Full Article</a>
			</header>
			<article>
				<tile ng-repeat="album in topRockAlbums" ng-animate="{ enter: 'animation-fadein-enter', leave: 'animation-fadein-leave' }" style="transition-delay: {{$index * 75}}ms"></tile>
			</article>
		</content>
	</page>
</script>

<!-- Content for the Features page. -->
<script type="text/ng-template" id="features.html">
	<page id="ts-features" style="background-color: #f4f4f4; background-image: url('/assets/gaga.png'); background-position: -50px 0;">
		<content>
			<banner>
				<h1>Welcome to the Neighborhood.</h1>
				<p>Discover, share and connect with culture, creativity, sound, images and people. Learn more.</p>
				<a class="ts-button ts-button-cta" href="#">Join Myspace</a><a class="ts-button" href="#">Sign In</a>
			</banner>
			<header>
				<h5>Home</h5>
				<h3>Lady Gaga and the End of Summer</h3>
				<h6><strong>By: Caitlyn MacDonald</strong> • Music</h6>
				<p style="margin-bottom: 20px;">Bacon ipsum dolor sit amet prosciutto pork shankle flank, beef ribs sirloin strip steak tri-tip brisket t-bone tenderloin. Tenderloin beef pork chop leberkas drumstick t-bone. Ribeye ball tip bacon kielbasa salami pork. Kielbasa ham hock pork belly shank jowl meatball bresaola strip steak brisket.</p>
				<a href="/" class="ts-button">Read Full Article</a>
			</header>
			<article>
				<tile ng-repeat="album in topPopAlbums" ng-animate="{ enter: 'animation-fadein-enter', leave: 'animation-fadein-leave' }" style="transition-delay: {{$index * 75}}ms"></tile>
			</article>
		</content>
	</page>
</script>

<!-- Content for the Features page. -->
<script type="text/ng-template" id="pricing.html">
	<page id="ts-pricing" style="background-color: #9e9d8b; background-image: url('/assets/andrew.png'); background-position: -110px 0;">
		<content>
			<banner></banner>
			<header>
				<h5>Pricing</h5>
				<h3>Webslinging with Andrew Garfield</h3>
				<h6><strong>By: Caitlyn MacDonald</strong> • Celebrities</h6>
				<p style="margin-bottom: 20px;">Bacon ipsum dolor sit amet prosciutto pork shankle flank, beef ribs sirloin strip steak tri-tip brisket t-bone tenderloin. Tenderloin beef pork chop leberkas drumstick t-bone. Ribeye ball tip bacon kielbasa salami pork. Kielbasa ham hock pork belly shank jowl meatball bresaola strip steak brisket.</p>
				<a href="/" class="ts-button">Read Full Article</a>
			</header>
			<article>
				<tile ng-repeat="album in topDiscoAlbums" ng-animate="{ enter: 'animation-fadein-enter', leave: 'animation-fadein-leave' }" style="transition-delay: {{$index * 75}}ms"></tile>
			</article>
		</content>
	</page>
</script>

<!-- Content for the Features page. -->
<script type="text/ng-template" id="resources.html">
	<page id="ts-resources" style="background-color: #f4f4f4; background-image: url('/assets/gaga.png'); background-position: -50px 0;">
		<content>
			<banner></banner>
			<header>
				<h5>Resources</h5>
				<h3>Webslinging with Andrew Garfield</h3>
				<h6><strong>By: Caitlyn MacDonald</strong> • Celebrities</h6>
				<p style="margin-bottom: 20px;">Bacon ipsum dolor sit amet prosciutto pork shankle flank, beef ribs sirloin strip steak tri-tip brisket t-bone tenderloin. Tenderloin beef pork chop leberkas drumstick t-bone. Ribeye ball tip bacon kielbasa salami pork. Kielbasa ham hock pork belly shank jowl meatball bresaola strip steak brisket.</p>
				<a href="/" class="ts-button">Read Full Article</a>
			</header>
			<article>
				<tile ng-repeat="album in topPopAlbums" ng-animate="{ enter: 'animation-fadein-enter', leave: 'animation-fadein-leave' }" style="transition-delay: {{$index * 75}}ms"></tile>
			</article>
		</content>
	</page>
</script>

<!-- Content for the Features page. -->
<script type="text/ng-template" id="contact.html">
	<page id="ts-contact" style="background-color: #9e9d8b; background-image: url('/assets/andrew.png'); background-position: -110px 0;">
		<content>
			<banner></banner>
			<header>
				<h5>Contact Us</h5>
				<h3>Webslinging with Andrew Garfield</h3>
				<h6><strong>By: Caitlyn MacDonald</strong> • Celebrities</h6>
				<p style="margin-bottom: 20px;">Bacon ipsum dolor sit amet prosciutto pork shankle flank, beef ribs sirloin strip steak tri-tip brisket t-bone tenderloin. Tenderloin beef pork chop leberkas drumstick t-bone. Ribeye ball tip bacon kielbasa salami pork. Kielbasa ham hock pork belly shank jowl meatball bresaola strip steak brisket.</p>
				<a href="/" class="ts-button">Read Full Article</a>
			</header>
			<article>
				<tile ng-repeat="album in topRockAlbums" ng-animate="{ enter: 'animation-fadein-enter', leave: 'animation-fadein-leave' }" style="transition-delay: {{$index * 75}}ms"></tile>
			</article>
		</content>
	</page>
</script>



<overlay>
	<h2>
		<strong>Search Myspace</strong>
		<em>Start typing ...</em>
	</h2>
	<!--<h2>
		<strong>Close Overlay</strong>
	</h2>-->
	<input type="text" id="ts-overlay-search" ng-model="queryMusic" placeholder="Search ..." autofocus />
	<div class="ts-overlay-search-results">
		<h3>Songs <a href="#">See More &raquo;</a></h3>
		<ul>
			<li ng-repeat="album in topPopAlbums | filter: { artist: queryMusic } | limitTo: 10" ng-animate="{ enter: 'animation-fadein-enter', leave: 'animation-fadein-leave' }" style="transition-delay: {{$index * 25}}ms">
				<button class="ts-overlay-search-result-play-button">P</button>
				<img src="{{album.image[0]['#text']}}" alt="Image." />
				<a href="#"><h4>{{album.name}}</h4></a>
				<a href="#"><h5>{{album.artist.name}}</h5></a>
			</li>
		</ul>
	</div>
	<div class="ts-overlay-search-results">
		<h3>Videos <a href="#">See More &raquo;</a></h3>
		<ul>
			<li ng-repeat="album in topRockAlbums | filter: { artist: queryMusic } | limitTo: 10" ng-animate="{ enter: 'animation-fadein-enter', leave: 'animation-fadein-leave' }" style="transition-delay: {{$index * 25}}ms">
				<button class="ts-overlay-search-result-play-button">P</button>
				<img src="{{album.image[0]['#text']}}" alt="Image." />
				<a href="#"><h4>{{album.name}}</h4></a>
				<a href="#"><h5>{{album.artist.name}}</h5></a>
			</li>
		</ul>
	</div>
	<div class="ts-overlay-search-results">
		<h3>Artists <a href="#">See More &raquo;</a></h3>
		<ul>
			<li ng-repeat="album in topDiscoAlbums | filter: { artist: queryMusic } | limitTo: 10" ng-animate="{ enter: 'animation-fadein-enter', leave: 'animation-fadein-leave' }" style="transition-delay: {{$index * 25}}ms">
				<button class="ts-overlay-search-result-play-button">P</button>
				<img src="{{album.image[0]['#text']}}" alt="Image." />
				<a href="#"><h4>{{album.name}}</h4></a>
				<a href="#"><h5>{{album.artist.name}}</h5></a>
			</li>
		</ul>
	</div>
	<div class="ts-overlay-search-results">
		<h3>Albums <a href="#">See More &raquo;</a></h3>
		<ul>
			<li ng-repeat="album in topPopAlbums | filter: { name: queryMusic } | limitTo: 10" ng-animate="{ enter: 'animation-fadein-enter', leave: 'animation-fadein-leave' }" style="transition-delay: {{$index * 25}}ms">
				<button class="ts-overlay-search-result-play-button">P</button>
				<img src="{{album.image[0]['#text']}}" alt="Image." />
				<a href="#"><h4>{{album.name}}</h4></a>
				<a href="#"><h5>{{album.artist.name}}</h5></a>
			</li>
		</ul>
	</div>
	<div class="ts-overlay-search-results">
		<h3>People <a href="#">See More &raquo;</a></h3>
		<ul>
			<li ng-repeat="album in topRockAlbums | filter: { name: queryMusic } | limitTo: 10" ng-animate="{ enter: 'animation-fadein-enter', leave: 'animation-fadein-leave' }" style="transition-delay: {{$index * 25}}ms">
				<button class="ts-overlay-search-result-play-button">P</button>
				<img src="{{album.image[0]['#text']}}" alt="Image." />
				<a href="#"><h4>{{album.name}}</h4></a>
				<a href="#"><h5>{{album.artist.name}}</h5></a>
			</li>
		</ul>
	</div>
	<div class="ts-overlay-search-results">
		<h3>Mixes <a href="#">See More &raquo;</a></h3>
		<ul>
			<li ng-repeat="album in topDiscoAlbums | filter: { name: queryMusic } | limitTo: 10" ng-animate="{ enter: 'animation-fadein-enter', leave: 'animation-fadein-leave' }" style="transition-delay: {{$index * 25}}ms">
				<button class="ts-overlay-search-result-play-button">P</button>
				<img src="{{album.image[0]['#text']}}" alt="Image." />
				<a href="#"><h4>{{album.name}}</h4></a>
				<a href="#"><h5>{{album.artist.name}}</h5></a>
			</li>
		</ul>
	</div>
</overlay>

<navigation>
	<h3>Discover</h3>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="features">Features</a></li>
		<li><a href="pricing">Pricing</a></li>
		<li><a href="resources">Resources</a></li>
		<li><a href="contact">Contact Us</a></li>
	</ul>
</navigation>

<controls></controls>

<viewport></viewport>











































