@import "compass/reset";
@import "compass/typography";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/hacks";



/****************************************************************************************************

  Table of Contents

*****************************************************************************************************

  0.  SCSS Variables
      - Font Sizing
      - Media Size Breakpoints

  1.  Universal Cascade
      - Body

  2.  Tag-Specific Styles
      - Forms
      - Tables

  3.  Utility Classes
      - Buttons

  4.  Template Sections
      - Navigation
      - Controls
      - Page
        - Content
          - Header
          - Article
            - Tile

  5.  Content Elements

  6.  Pages

  7.  JS Widgets

****************************************************************************************************/



/****************************************************************************************************
  0.  SCSS Variables
****************************************************************************************************/


/* Font Sizing */
/************************************************/

$base-font-size: 13px;
$base-line-height: 20px;
@include establish-baseline;


/* Media Size Breakpoints */
/************************************************/

@media (min-width: 1200px) {}							/* Large Viewport */
@media (min-width: 980px) and (max-width: 1199px) {}	/* Normal Viewport */
@media (min-width: 768px) and (max-width: 979px) {}		/* Tablet Viewport */
@media (min-width: 480px) and (max-width: 767px) {}		/* Phone Viewport */
@media (max-width: 480px) {}							/* Small Viewport */


/* Icon Font Names */
/************************************************/

$symbolset-standard: "SSStandard";
$symbolset-symbolicons: "SSSymbolicons";
$symbolset-social: "SSSocial";



/****************************************************************************************************
  1.  Universal Cascade
****************************************************************************************************/


/* HTML */
/************************************************/

html {
	height: 100%;
	position: relative;
	overflow: hidden;
}


/* Body */
/************************************************/

body {
	height: 100%;
	color: #333333;
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-weight: 400;
	overflow: scroll;
}

h1, h2, h3, h4, h5, h6 {
	// font-family: 'Rufina', 'Georgia', 'Times New Roman', serif;
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

strong { font-weight: 700; }
em { font-style: italic; }

p { margin: 0 0 10px 0; }





















/* Buttons */
/************************************************/

.ts-button {
	display: block;
	float: left;
	padding: 5px 14px;
	margin: 0 5px 0 0;
	position: relative;
	color: #ffffff;
	background: #333333;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	@include adjust-font-size-to(12px);
	@include border-radius(2px);
}

.ts-button:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
}

.ts-button:active {
	position: relative;
	top: 2px;
}

.ts-button:hover { @include opacity(.66); }

input.ts-button,
button.ts-button {
	padding: 8px 14px;
	font-weight: 500;
	border: none;
}






























#ts-navigation {
	width: 150px;
	margin: 20px 0 0 20px;
	padding: 10px 0;
	position: fixed;
	z-index: 200;
	background: #313131;
	color: #747474;
	@include box-shadow(0 0 3px #585858);
	@include border-radius(2px);
	h3 {
		display: block;
		padding: 5px 10px;
		margin: 0 0 10px 0;
		color: #ffffff;
		font-weight: 700;
		@include adjust-font-size-to(16px);
	}
	ul {
		display: block;
		border-top: 1px solid #282828;
		border-bottom: 1px solid #3c3c3c;
		li {
			display: block;
			a {
				display: block;
				padding: 5px 10px;
				border-top: 1px solid #3c3c3c;
				border-bottom: 1px solid #282828;
				color: #747474;
				text-decoration: none;
				@include transition-property(background, color);
				@include transition-duration(0.075s);
			}
			a:hover {
				color: #ffffff;
				background: #292929;
			}
		}
	}
}

#ts-controls {
	display: block;
	height: 80px;
	width: 100%;
	position: fixed;
	z-index: 800;
	left: 0;
	bottom: 0;
	background: #272727;
	color: #ffffff;
	overflow: hidden;
	@include box-shadow(0 0 3px #585858);
	#ts-footer {
		display: block;
		float: left;
		height: 20px;
		width: 100%;
		position: relative;
		z-index: 130;
		background: #D2D2D2;
		@include box-shadow(0 8px 24px 0 #999897 inset);
	}
	ul#ts-session {
		display: block;
		float: left;
		height: 45px;
		padding: 15px 10px 0 10px;
		margin: 0 0 0 20px;
		position: relative;
		z-index: 120;
		background: #313131;
		@include box-shadow(0 0 15px #191919);
		> li {
			display: block;
			float: left;
			> a {
				display: block;
				float: left;
				padding: 5px 15px;
				border-right: 1px solid #3c3c3c;
				border-left: 1px solid #010101;
				color: #7f7f7f;
				font-weight: 700;
				text-decoration: none;
				@include transition-property(color);
				@include transition-duration(0.1s);
			}
			> a:hover {
				color: #ffffff;
			}
		}
		> li:nth-child(1) {
			> a {
				border-left: none;
			}
		}
		> li:last-child {
			> a {
				border-right: none;
			}
		}
	}
	ul#ts-controls-options {
		display: block;
		float: left;
		position: relative;
		z-index: 110;
		height: 45px;
		padding: 15px 0 0 0;
		margin: 0 10px 0 0;
		> li {
			display: block;
			float: left;
			> a {
				display: block;
				float: left;
				height: 42px;
				color: #7f7f7f;
				font-weight: 700;
				text-decoration: none;
				@include transition-property(color);
				@include transition-duration(0.1s);
				> span {
					display: block;
					float: left;
					padding: 5px 15px;
					border-right: 1px solid #3c3c3c;
					border-left: 1px solid #010101;
				}
			}
			> a.ts-current,
			> a:hover {
				color: #ffffff;
				border-bottom: 3px solid #008dde;
				> span {
				}
			}
		}
		> li:nth-child(1) {
			> a {
				> span {
					border-left: none;
				}
			}
		}
		> li:last-child {
			> a {
				> span {
					border-right: none;
				}
			}
		}
	}
	#ts-musicplayer {
		display: block;
		float: left;
		width: 630px;
		padding: 7px 11px 10px 11px;
		margin: 7px 0 0 0;
		background: #1d1d1d;
		border-bottom: 1px solid #333333;
		@include border-radius(3px);
		.ts-musicplayer-button:hover {
			border-top: 1px solid #ababab;
			border-right: 1px solid #999999;
			border-bottom: 1px solid #919191;
			border-left: 1px solid #999999;
			@include background-image(linear-gradient(#a5a5a5, #929292));
		}
		.ts-musicplayer-button {
			display: block;
			float: left;
			width: 25px;
			height: 25px;
			padding: 0;
			margin: 4px 5px 0 0;
			border-top: 1px solid #535353;
			border-right: 1px solid #373737;
			border-bottom: 1px solid #303030;
			border-left: 1px solid #373737;
			font-family: "SSStandard", "SSSymbolicons", "SSSocial";
			cursor: pointer;
			@include background-image(linear-gradient(#414141, #393939, #313131));
			@include border-radius(2px);
		}
		#ts-musicplayer-status {
			display: block;
			float: left;
			width: 500px;
			padding: 0 0 0 5px;
			#ts-musicplayer-title {
				display: inline-block;
				width: 500px;
				h3 {
					display: block;
					float: left;
					font-weight: 300;
					color: #9d9d9d;
					@include adjust-font-size-to(12px);
					strong {
						color: #ffffff;
					}
				}
				h4 {
					display: block;
					float: right;
					color: #9d9d9d;
					@include adjust-font-size-to(10px);
				}
			}
			#ts-musicplayer-progress {
				display: block;
				float: left;
				width: 500px;
				border-bottom: 1px solid #292929;
				background: #161616; 
				#ts-musicplayer-buffer {
					@include background-image(linear-gradient(#262626, #3c3c3c));
					#ts-musicplayer-progress-bar {
						height: 3px;
						@include background-image(linear-gradient(#0096e0, #0080d7));
					}
				}
			}
		}
	}
}

.ts-page {
	width: 100%;
	height: 100%;
	background: #f4f4f4 url("/assets/gaga.png") no-repeat -50px 0;
	@include background-size(contain);
}

.ts-page#ts-features {
	background: #9e9d8b url("/assets/andrew.png") no-repeat -110px 0;
	@include background-size(contain);
}

.ts-content {
	height: 100%;
	min-width: 1102px;
	@include box-shadow(0 0 3px #dedede);
	overflow-x: scroll;
	overflow-y: hidden;
}

.ts-banner {
	display: block;
	float: left;
	width: 560px;
	padding: 0 20px 0 220px;
	height: 100%;
	color: #ffffff;
	@include text-shadow(0 1px 2px #585858);
	h1 {
		width: 460px;
		padding: 250px 0 30px 0;
		margin: 0 0 20px 0;
		border-bottom: 1px dotted #ffffff;
		font-weight: 100;
		@include adjust-font-size-to(64px);
		line-height: 1em;
	}
	p {
		width: 460px;
		margin: 0 0 30px 0;
		font-weight: 100;
		@include adjust-font-size-to(20px);
		line-height: 1.6em;
	}
	.ts-button {
		width: 122px;
		padding: 3px 14px 7px 14px;
		margin: 0 10px 0 0;
		text-align: center;
		color: #ffffff;
		background: #8E8E8E;
		text-transform: none;
		font-weight: 300;
		@include adjust-font-size-to(18px);	
		@include text-shadow(none);
	}
	.ts-button-cta {
		background: #008dde;
	}
}

.ts-header {
	display: block;
	float: left;
	width: 260px;
	height: 100%;
	padding: 0 20px;
	border-left: 2px solid #ffffff;
	background: transparent url("/assets/opacity-50.png") repeat 0 0;
	@include opacity(0.975);
	h3 {
		margin: 0 0 30px 0;
		font-weight: 100;
		@include adjust-font-size-to(48px);
		line-height: 1em;
	}
	h5 {
		margin: 150px 0 10px 0;
		font-weight: 900;
		text-transform: uppercase;
		@include adjust-font-size-to(12px);
	}
	h6 {
		padding: 0 0 5px 0;
		margin: 0 0 10px 0;
		border-bottom: 1px dotted #a8a8a8;
	}
}

.ts-article {
	display: block;
	float: left;
	position: relative;
	min-width: 2416px;
	padding: 0 2px 2px 0;
	margin: 0 0 0 1102px;
	top: -100%;
	height: 100%;
	z-index: 50;
	background: #ffffff;
}

.ts-tile {
	display: block;
	float: left;
	width: 300px;
	height: 300px;
	margin: 2px 0 0 2px;
	background: #e8f6f3;
	cursor: pointer;
	img {
		position: absolute;
		width: 300px;
		height: 300px;
		z-index: 50;
	}
	.ts-tile-text:hover {
		@include opacity(1.0);
		@include transition-delay(0);
		h3 {
			@include transition-delay(0);
			padding: 210px 10px 8px 10px;
		}
	}
	.ts-tile-text {
		display: block;
		float: left;
		position: relative;
		z-index: 60;
		width: 300px;
		height: 300px;
		overflow: hidden;
		@include transition(0.15s ease all);
		@include transition-delay(0.1s);
		@include background-image(linear-gradient(transparent, rgba(0, 0, 0, 0.66)));
		@include opacity(0.75);
		h3 {
			display: block;
			width: 270px;
			padding: 250px 10px 15px 10px;
			margin: 0 5px;
			color: #ffffff;
			font-weight: 100;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			@include adjust-font-size-to(36px);
			line-height: 1em;
			@include transition(0.15s ease all);
			@include transition-delay(0.1s);
			@include text-shadow(0 1px 3px #000000);
		}
		h4 {
			display: block;
			width: 270px;
			padding: 0px 10px 0 10px;
			margin: 0 5px 0 5px;
			color: #ffffff;
			font-weight: 700;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			text-transform: uppercase;
			@include adjust-font-size-to(14px);
			line-height: 1em;
			@include text-shadow(0 1px 3px #000000);
		}
	}
}

#ts-viewport {
	width: 100%;
	height: 100%;
}


#ts-overlay {
	display: block;
	width: 100%;
	height: 100%;
	padding: 40px 0 40px 40px;
	background: transparent url("/assets/modal-background.png") repeat 0 0;
	color: #393939;
	position: absolute;
	z-index: 700;
	overflow-y: hidden;
	@include box-sizing(border-box);
	h2 {
		display: block;
		float: left;
		margin: 10px 0;
		strong {
			display: block;
			float: left;
			width: 100%;
			margin: 0 0 4px 0;
			color: #7f7f7f;
			font-weight: 900;
			text-transform: uppercase;
			line-height: 1em;
		}
		em {
			display: block;
			float: left;
			width: 100%;
			color: #666666;
			line-height: 1em;
		}
	}
	input#ts-overlay-search {
		display: block;
		float: left;
		width: 100%;
		padding: 0;
		margin: 0 0 10px 0;
		border: none;
		background: transparent;
		font-weight: 900;
		color: #393939;
		outline: none;
		text-transform: uppercase;
		@include adjust-font-size-to(98px);
	}
	.ts-overlay-search-results {
		display: block;
		float: left;
		width: 200px;
		margin: 0 30px 0 -10px;
		padding: 10px 0 0 0;
		position: relative;
		@include transition(0.15s ease all);
		h3 {
			display: block;
			float: left;
			width: 180px;
			padding: 0 0 5px 0;
			margin: 0 10px;
			border-bottom: 1px solid #cccccc;
			text-transform: uppercase;
			font-weight: 700;
			color: #6f6f6f;
			a {
				display: block;
				float: right;
				text-transform: none;
				text-decoration: none;
				color: #6f6f6f;
				font-weight: 500;
				@include adjust-font-size-to(12px);
			}
		}
		ul {
			display: block;
			float: left;
			width: 180px;
			padding: 10px 0 5px 0;
			margin: 0 10px;
			border-top: 1px solid #ffffff;
			li {
				display: block;
				float: left;
				width: 180px;
				padding: 5px;
				margin: 0 0 0 -5px;
				position: relative;
				overflow: ellipsis;
				@include transition(0.15s ease all);
				button.ts-overlay-search-result-play-button {
					display: block;
					float: left;
					border: none;
					position: absolute;
					width: 21px;
					height: 21px;
					margin: 7px 0 0 7px;
					background: #000000;
					text-align: center;
					@include opacity(0);
					@include transition(0.15s ease all);
				}
				img {
					display: block;
					float: left;
					width: 35px;
					height: 35px;
					margin: 0 8px 0 0;
				}
				a {
					display: block;
					float: left;
					width: 137px;
					color: #393939;
					h4 {
						display: block;
						float: left;
						width: 137px;
						margin: 0 0 3px 0;
						padding: 3px 0 0 0;
						font-weight: 900;
						line-height: 1em;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
					}
					h5 {
						display: block;
						float: left;
						width: 137px;
						font-weight: 300;
						line-height: 1em;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
					}
				}
				a:hover {
					color: #008dde;
				}
			}
			li:hover {
				background: #ffffff;
				button.ts-overlay-search-result-play-button {
					@include opacity(0.75);
				}
			}
		}
	}
	.ts-overlay-search-results:hover {
		background: #f6f6f6;
		h3 {
			color: #008dde;
			border-bottom: 1px solid #008dde;
			a {
				color: #008dde;
			}
		}
	}
}























.animation-scrollpage-enter {
	@include transition(0.5s ease all);
	position: relative;
	top: 0;
}
.animation-scrollpage-enter.animation-scrollpage-enter-active {
	top: -100%;
}
.animation-scrollpage-leave {
	@include transition(0.5s ease all);
	position: relative;
	top: 0;
}
.animation-scrollpage-leave.animation-scrollpage-leave-active {
	top: -100%;
}



.animation-fadein-enter {
	@include transition(0.25s ease-out all);
	@include opacity(0.0);
}
.animation-fadein-enter.animation-fadein-enter-active {
	@include opacity(1.0);
}

.animation-fadein-leave {
	@include transition(0.25s ease-out all);
	@include opacity(1.0);
}
.animation-fadein-leave.animation-fadein-leave-active {
	@include opacity(0.0);
}



.ts-overlay-show {
	@include transition(0.25s ease-out all);
	@include opacity(0.0);
}
.ts-overlay-show.ts-overlay-show-active {
	@include opacity(1.0);
}
.ts-overlay-hide {
	@include transition(0.25s ease-out all);
	@include opacity(1.0);
}
.ts-overlay-hide.ts-overlay-hide-active {
	@include opacity(0.0);
}










































